<div id="header">Choose Your Own Adventure</div>

<div class="main">

<p><span class="frist_letter"><%= @adventure[0].story.first %></span><%= @adventure[0].story[1..-1] %></p>

<%= image_tag @adventure[0].photo %><!--image_tag does same thing as img src in html, except it is in ruby-->

<br/>

<!--condition one-->

  <% if @adventure[0].question_1.present && @adventure[0].question_2.present? %>
      <% if @adventure[0].id == 2 %>
          <input type="radio" name="decision" value="1" id="q1"><%= @adventure[0].question_1 %> <br/> <!--if not present it has no radio buttons to print. Also I need to make value dynamic. if we are on id_story =1, + 0.1-->
          <input type="radio" name="decision" value="2" id="q2"><%= @adventure[0].question_2 %><br/>
            <!--if not present it has no radio buttons to print. if we are on id_story =1, + 0.2-->-->
      <% else %>
          <% x = @adventure[0].id_of_story %>
          <% if x == 1 || x == 2 %>
            <% leftbutton = 1.1 %>
            <% rightbutton = 1.2 %>
      <% end %>
  <% end %>
<!--condition two-->
<!-- if id_story == 0.1, value 1, value 2 -->
  <% if @adventure[0].id == 2 %>
        <input type="radio" name="decision" value="1" id="q1"><%= @adventure[0].question_1 %> <br/>
        <input type="radio" name="decision" value="2" id="q2"><%= @adventure[0].question_2 %><br/>
  <% else %>
      <% x = 1 %>
      <% y = 2 %>


        <input type="radio" name="decision" value="<% x %>" id="q1"><%= @adventure[0].question_1 %> <br/>
        <input type="radio" name="decision" value="<% y %>" id="q2"><%= @adventure[0].question_2 %><br/>
  <% end %>
<% end %>

<!--condition three-->
<!--if value 1 or value 2, 1.1 and 1.2  or  2.1 and 2.2-->

  <button id="continue_button">Continue</button> <!--jquery script.js.file uses continue_button id to refresh page-->


</div>

<script type="text/javascript" src="script.js"></script>